{{ ansible_managed | comment }}
{{ "system_role:trustee_attestation_client" | comment(prefix="", postfix="") }}
[foo]
foo = {{ trustee_attestation_client_config1 }}
bar = {{ trustee_attestation_client_config2 }}
